body {
    background: #ececec;
    align-items: center;
    justify-content: center;
}

.login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center !important;
    z-index: 99;
    background: #fff;
}

.firebaseui-idp-button:hover {
    background: #000 !important;
}

.firebaseui-idp-text:hover {
    color: #fff !important;
}

.firebaseui-container {
    align-items: center;
    justify-content: center;
}